body{
  margin: 0;
}

#container {
    display: flex;
    flex-wrap: wrap;
}

.header {
    flex-basis: 100%;
    height: 105px;
    background-color: #0079c1;
    display: flex;
    align-items: center;
    padding: 0 30px;
}

h1{
    color: #0079c1;
}

.main-area {
    padding: 59px 102px;
    flex: 4;
    padding-top: 20px;
}

.upload-sec {
    display: flex;
    flex-wrap: wrap;
    /*width: 800px;*/
}

.form {
    width: 900px;
}

.round-progress-bar {
    /*flex: 1;*/
    /*max-width: 200px;*/
    height: 100%;
    width: 300px;
}

.file-wrapper {
    display: flex;
    padding: 20px 10px 0px 20px;
}

.file-upload-label{
  /*flex: 1;*/
  width: 350px;
}

.uploaded-file-name{
    margin-left: 371px;
    max-width: 146px;
}

label{
    font-size: 18px;
}

.sidebar {
    width: 205px;
    background: #0079c1;
    position: relative;
    min-height: calc(100vh - 68px);
}

.links {
    margin: 0;
    padding: 0;
    width: 100%;
}

.main-wrapper{
    display: flex;
}

li {
    color: white;
    margin: 0 5px 40px 30px;
    display: block;
}

h1 {
    margin: 0;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-family: sans-serif;
    color: #0079c1;
}

#n3-pie-legend{
    /*display: none;*/
}

#submit{
    padding: 18px 39px 18px 39px;
    color: #FFF;
    background-color: #0079c1;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
    width: 150px;
    border: 1px solid #0079c1;
    margin-bottom: 10px;
    float: right;
    margin-right: 73px;
}

.upload-bttn{
    color: #FFF;
    background-color: #0079c1;
    border: none;
    padding: 10px;
    font-size: 15px;
}

.infoImg{
    height: 16px;
    width: 18px;
}
.bttn-wrapper{
    position: relative;
    background: transparent;
    padding: 0;
    border: none;
}
.bmo-house{
    /*margin-top: -74px;*/
    margin-left: 99px;
    position: absolute;
    z-index: -1;
    bottom: 440px;
}
.chart{
    /*margin-top: 49px;*/
}
.file-btns{
    background: #0079c1;
    color: white;
    padding: 10px;
    border: none;
    width: 350px;
    font-size: 18px;
}
.cust-uploaded-files{
   padding-right: 280px;
}
.files-wrapper{
    display: flex;
    padding-top: 25px;
}
.files{
    padding-bottom: 30px;
}
.new-acc-link{
    margin: 0;
    white-space: nowrap;
    margin-top: 20px;
    margin-left: -19px;
}
a{
    text-decoration: none;
    color: white;
}
}
}