<div class="main-area" style="padding-left: 242px;">
	<h1>Mortgage Assesment - BMO</h1>
	<div class="files-wrapper">
		<div class="cust-uploaded-files">
			<div ng-repeat="file in CustFilesToBeUploaded" class="files">
				<button class="file-btns" onclick="window.open('Test.pdf');">{{file}}</button>
			</div>
		</div>
		<div class="other-uploaded-files">
			<div ng-repeat="file in OtherFilesToBeUploaded" class="files">
				<button class="file-btns">{{file}}</button>
			</div>
		</div>
	</div>
</div>