<!-- <div class="main-area" style="padding-left: 242px;">
	<h1>Mortgage Assesment - BMO</h1>
	<div class="files-wrapper">
		<div class="cust-uploaded-files">
			<div ng-repeat="file in CustFilesToBeUploaded" class="files">
				<button class="file-btns" onclick="window.open('Test.pdf');">{{file}}</button>
			</div>
		</div>
		<div class="other-uploaded-files">
			<div ng-repeat="file in OtherFilesToBeUploaded" class="files">
				<button class="file-btns">{{file}}</button>
			</div>
		</div>
	</div>
</div> -->


<div class="main-area" style="padding-left: 242px;">
	<h1>Mortgage Assesment - BMO</h1>
	<div class="files-wrapper">
		<div class="cust-uploaded-files">
			<div class="files">
				<button class="file-btns" onclick="window.open('T4.pdf');">Proof of Income – T4</button>
			</div>
			<div class="files">
				<button class="file-btns" onclick="window.open('Proof Of Personal Income Letter 1.pdf');">"Proof of Income – assessment 2016</button>
			</div>
			<div class="files">
				<button class="file-btns" onclick="window.open('Proof Of Personal Income Letter 2.pdf');">Proof of Income – assessment 2017</button>
			</div>
			<div class="files">
				<button class="file-btns" onclick="window.open('Proof Of Personal Income Letter 1.pdf');">Consent form for credit check</button>
			</div>
			<div class="files">
				<button class="file-btns" onclick="window.open('Proof Of Personal Income Letter 2.pdf');">Purchase Deed</button>
			</div>
		</div>
		<div class="other-uploaded-files">
			<div class="files">
				<button class="file-btns" onclick="window.open('T4.pdf');">Credit Check Report</button>
			</div>
			<div class="files">
				<button class="file-btns" onclick="window.open('Proof Of Personal Income Letter 1.pdf');">Assessor Report1</button>
			</div>
			<div class="files">
				<button class="file-btns" onclick="window.open('Proof Of Personal Income Letter 2.pdf');">Attorney Report1</button>
			</div>
			<div class="files">
				<button class="file-btns" onclick="window.open('Proof Of Personal Income Letter 1.pdf');">House Inspection</button>
			</div>
			<div class="files">
				<button class="file-btns" onclick="window.open('Proof Of Personal Income Letter 2.pdf');">Attorney Report2</button>
			</div>
		</div>
	</div>
</div>